/* body{
    font-family: 'Raleway',sans-serif;
    background: #f9f9f9;
} */
.p-30{
    padding: 30px;
}
.main-datatable{
    padding: 0px;
    border: 1px solid #f3f2f2;
    border-bottom: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .05);
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-body{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.main-datatable row{
    margin: 0;
}
.searchInput{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    margin: 20px 0px;
    padding: 0px 4px;
}
.searchInput input{
    border:  1px solid #e5e5e5;
    border-radius: 50px;
    margin-left: 0px;
    height: 34px;
    width: 100%;
    padding: 0px 25px 0px 10px;
    transition:all 0.6ms ease;
}
.searchInput label{
    font-size: 19px;
    color: #000000;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 650;
}
 .searchInput input:placeholder-shown {
    width: 13%;
}
.searchInput:hover input:placeholder-shown {
    width: 100%;
    cursor: pointer;
}
.searchInput:after {
    font-family: 'FontAwesome';
    color: #d4d4d4;
    position: relative;
    /* content: "\f002"; */
    right: 25px;
} 

 .dim_button{
    display: inline-block;
    color: #f3f2f2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    background: rgb(0, 0, 0);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 20px;
}
.createSegment a {
    margin-bottom: 0px;
    border-radius: 50px;
    font-size: 17px;
    font-size: 500;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    color: #0073ff;
    transition: all .4s ease;
}
.createSegment a:hover .createSegment a:focus{
    transition: all .4s ease;
    background: #007bff;
    color: #fff;
}
.d_flex{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.main-datatable .dataTable .no-footer{
    border-bottom: 1px solid #eee;
}
.main-datatable .cust-datatable thead{
    background-color: #f9f9f9;
}
.main-datatable .cust-datatable>thead>tr>th{
    border-bottom-width: 0;
    color: #443f3f;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}
.main-datatable .cust-datatable>tbody td{
    padding: 10px 15px 10px 18px;
    color: #333232;
    font-size: 17px;
    font-size: 500;
    word-break: break-word;
    border-color: #eee;
    text-align: center;
    vertical-align: middle;
}
.main-datatable .cust-datatable>tbody>tr{
    border-top: none;
}
.main-datatable .cust-datatable>tbody>tr:nth-child(even){
    background: #f9f9f9;
} 
.btn-group .open .dropdown-toggles{
    box-shadow: #f9f9f9;
}
.main-datatable .dropdown_icon{
    display: inline-block;
    color: #000000;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 10px 11px;
    border-radius: 50%;
    cursor: pointer;
}
.right{
    text-align: right;
}
.btn-group{
    color: #8e8e8e;
    margin: 2px;
}
.main-datatable .actionCust a{
    display: inline-block;
    color: #8e8e8e;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 10px 11px;
    margin: -9px 3px;
    border-radius: 50%;
    cursor: pointer;
}
.main-datatable .actionCust a i{
    color: #000000;
    margin: 2px;
}
.main-datatable .dropdown-menu{
    padding: 0px;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #c8c8c8;
    margin-top: 10px;
    left: -65px;
    top: 32px;
}
.main-datatable .dropdown-menu > li > a {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
    border-bottom: 1px solid #d4d4d4;
}
.main-datatable .dropdown-menu > li > a:hover, .main-datatable .dropdown-menu > li > a:focus{
    color: #fff;
    background: #007bff;
}
.main-datatable .dropdown-menu > li > a:hover i{
    color: #fff;
}
