 /* .bgimg {
    background: url('../img/HU.jpg');
     background-repeat: no-repeat;
    background-size: cover;    
     /* -webkit-filter: blur(5px); */
    /* -moz-filter:blur(9px);
    filter:  
 }*/

 
.bg-fav{
  background: #34495e;
}
.nav-link {

   color: #ffffff;
}
.nav-link:hover, .nav-link:focus {
  color: #000000;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  margin-left: auto;
  margin-right: auto;

}
.d-sidebar {

  position:relative;
  height: 2rem;
  width: 2rem;
  margin-left: -1%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1.1rem 1rem ;
  border: 2px solid #ffffff;

}

.bd-aside .btn::before {
  width: 1.25em; 
  line-height: 0;
  content: url("../bootstrap-icons/chevron-right.svg"); 
  transition: transform .35s ease;
  transform: rotate(180deg) translateX(-2px);
  transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.bd-aside .i-list {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-right: .3125rem;
  text-decoration: none;
  color: #ffffff;
}


.form-container {

    border: 0px solid #ffffff ;
    padding: 50px 100px;
    color: white;
    -webkit-box-shodow: -1px 4px 26px 11px rgba(39, 37, 37, 0.75) ;
    -moz-box-shodow: -1px 4px 26px 11px rgba(39, 37, 37, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(39, 37, 37, 0.75);

}
.form-signin {
    width: 100%;
    max-width: 390px;
    padding: 29px;
    margin: auto;
    margin-top: 20vh;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
[type="tel"],
[type="url"],
[type="email"],
[type="number"] 
{
  direction: rtl;
}

/* .container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
     position: fixed; 
  width: 100%;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  margin-left: auto;
  margin-right: auto;
}
.no{
  position: fixed;
  height: 100%;
}
.col-lg-2 {
    flex: 0 0 auto;
    width: 16.999999%;
  }
  .inner-wrapper {
    display: table;
    min-height: 100vh;
    padding-top: 0px;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
  }
 .sidebar{
  width: 280px; 
  height: 100vh;
 }   */


.form-control-dark{
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
/* .form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: #31e93a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(21, 253, 13, 0.25);
}
.form-check-input:checked {
  background-color: #0dfd19;
  border-color: #0dfd19;
} */

.text{
  font-size: 16px;
  font-weight: bolder;
  color:black;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 10;
  transition: transform 0.3s ease-in-out;
}

.offcanvas-end {
  top: 0;
  left: 0;
  width: 220px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}


.nav-tabs {
  border-bottom: 2px solid #4b6e91;
}
.offcanvas-header {
  padding: 0.9rem 1.5rem;
}


.body-tab{

  margin-top: 90px;
  padding-top: 10px;
}
/* .offcanvas-start {
  top: 56px;
  right: 0;
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
} */
/* .top{
 margin-top: 20vh;
} */
/* hr{
  margin-top: -5px;
} */


.rows {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}


.navbar-fav .navbar-brand {
  color:#34495e;
}
.navbar-fav .navbar-brand:hover, .navbar-fav .navbar-brand:focus {
  color: #34495e;
}
.navbar-fav .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-fav .navbar-nav .nav-link:hover, .navbar-fav .navbar-nav .nav-link:focus {
  color: rgb(255, 255, 255);
}
.navbar-fav .navbar-nav .nav-link.disabled {
  color: rgb(255, 255, 255);
}
.navbar-fav .navbar-nav .show > .nav-link,
.navbar-fav .navbar-nav .nav-link.active {
  color: rgb(0, 0, 0);
}
.navbar-fav .navbar-toggler {
  color: #34495e80;
  border-color: rgb(128, 128, 128);
}
.navbar-fav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-fav .navbar-text {
  color: rgb(255, 255, 255);
}
.navbar-fav .navbar-text a,
.navbar-fav .navbar-text a:hover,
.navbar-fav .navbar-text a:focus {
  color: #fff;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 0rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-toggler {
  /* margin-right: 100%; */
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.offcanvas {

  position: fixed;
  border-bottom-right-radius: 20px ;
  border-top-right-radius: 20px ;
  box-sizing: initial;
  overflow-x: hidden;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(52, 73, 94);
}
.carousel-item {
  position: relative;
  display: none;
  float: right;
  width: 100%;
  padding-top: -30%;
  margin-right: 0%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.btns {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.mx-6 {
  margin-left: -3rem !important;
  margin-right: 0 !important;
}
.mt-6 {

  margin-top: 3.6rem !important;
}


/* .m-auto{

  /* position:absolute;
  top: 50%;
  right: 98.2%;
  transform: translateY(-10%);
  height: 25px;
  width: 25px;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: aqua; */
/*  /

} */